/* Hero Styles */
.hero-animated {
  width: 100%;
  height: 88vh; /* 90% of viewport height */
  background: url("../../assets/img/hero.png") center center no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-animated::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
}

.hero-animated .container {
  position: relative;
  z-index: 2;
}

@media (max-width: 992px) {
  .hero-animated {
    background-attachment: scroll;
    height: 70vh;
  }
}

@media (max-width: 768px) {
  .hero-animated {
    height: 60vh;
  }
}

@media (max-width: 576px) {
  .hero-animated {
    height: 50vh;
  }
}
